<div class="footerDiv">
    <div class="sideCustom footerSubDiv radius">
        <div class="sideCustom footerSubDivAll">
            <div class="footerSubDivFirst">
                <P class="fontWhite downloadApp">Download Our App</P>
                <P class="fontWhite bestTravel">The best travel in the world</P>
                <button class="googlePlay d-flex ">
                    <div class="ms-2">

                        <img class="googlePlayImg mt-2" src="../../../assets/homePage/googlePlay.svg" alt="">
                    </div>
                    <div class="ms-3 mt-2 text-start">

                        <p class="footerGPGet mb-0 ms-0">GET IN ON</p>
                        <p class="footerGPGet footerGPGet1 mt-0">Google Play</p>
                    </div>
                </button>
            </div>
            <div class="footerSubDivSecond">
                <img class="footerPhoneImg" src="../../../assets/homePage/footerMobile.svg" alt="">
            </div>
        </div>
         
    </div>

    <div class="footerCont">
        <div class="mainFooterCont1">
                <img src="../../../assets/homePage/gol-logo-white 1.svg" alt="">
                <P class="fontWhite">Lorem Ipsum is simply dummy 
                    text of the printing and type
                    setting industry.</P>
                    <div>
                        
                    </div>
        </div>
        <div>
            <p class="fontWhite">Company</p>
            <p class="fontWhite">Events</p>
            <p class="fontWhite">Blogs</p>
            <p class="fontWhite">FAQ</p>
            <p class="fontWhite">Join US</p>
        </div>
        <div>
            <p class="fontWhite">About</p>
            <p class="fontWhite">Project</p>
            <p class="fontWhite">Lorem</p>
            <p class="fontWhite">Services</p>
            <p class="fontWhite">Our Story</p>
        </div>
        <div>
            <p class="fontWhite">Contact Us</p>
            <p class="fontWhite">abc@lorem.com</p>
            <p class="fontWhite">India</p>
    </div>
    </div>

</div>
<div class="footerDiv1">
       
</div>
