<div class="exploreDiv sideCustom">
    <div class="exploreDiv1">
        <p class="explorePara1 ms-4 mt-3">
            Let’s Ready to Explore The <br>
            World With Us.
        </p>
        <p class="explorePara2 ms-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
            Pellentesque efficitur ac quam in congue. 
        </p>
    </div>
    <div class="exploreDiv2">
        <img class="exploreMapImg mt-3" src="../../../assets/homePage/exploreMap.png" alt="">
    </div>
    <div>
        
        <button class="exploreButton">Contact Us</button>
    </div>
    
   
</div>
