.homebackimg{
    width: 100%;
    margin-right: 0px;
    padding-left: 7.5%;
    
    /* margin-left: 90px; */
  
   /* margin-left: 48px; */
   margin: auto;
   background-image: url(../../../assets/homePage/map.png);
   background-size: 60%;
   background-repeat: no-repeat;
   background-position: right;
}
.visitSiteButton{
    width: 200px;
    background-color: var(--lightBlue);
    border: none;
    border-radius: 44px;
    font-size: 36px;
}
.homebackheading{
    font-weight: 700;
    font-size: 64px;
    line-height: 90px;
}
/* .sideHomeImg{
    width: 100%;
    
    background-image: url(../../../assets/homePage/map.png);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center -150px;
} */
.sideHomeImg{
    width: 100%;
    /* text-align: center; */

    position: relative;
}
.mapImg{
    margin-right: 40px;
    margin-left: auto;
}   
.homebackCont1{
    margin-top: 12vh;
    position: relative;
}
.headingMainLakshwa{
    color: #3282AD;
}

.homebackMainImg{
    width: 50%;
    position: absolute;
    right: 10%;
    top: 10%;
}
.plane{
    position: absolute;
    right: 0px; 
    bottom: 0px;

}