<div class="d-flex homebackimg ">
    <div class="homebackCont1">
        <button class="visitSiteButton p-2 fontOpen400 ps-3">Visit <img class="ms-3" src="../../../assets/homePage/visitButton.png" alt=""></button>
        <h1 class="homebackheading mt-5">
            <span>
                The Exotic
            </span> <br>
            <span class="headingMainLakshwa">
                Lakshadweep 
            </span>
            <br>
            <span>
                Islands
            </span>
        </h1>
        <button class="homeDiscoverButt mt-5">Discover Now</button>
    </div>
    <div  class="sideHomeImg">
        <!-- <img  src="../../../assets/homePage/map.png" alt=""> -->
        <img class="mapImg" src="../../../assets/homePage/homeBackImg.png" alt="">
        <!-- <img src="../..../assets/homePage/" alt=""> -->
    </div>
</div>