<div class="packagesCard pb-4">
    <div class="packagesCardSubDiv">
        <img class="packageCardImg" src={{packageSingle.imgUrl}} alt="">
        <button class="packageCardPrice">{{packageSingle.amount}}</button>
    </div>
    <div class=" d-flex justify-content-between p-3">
        <div>
            <span class="packageCardIcon">
                <span class="material-symbols-outlined  ">
                    location_on
                </span>
                <span class="packageCardIconHead">
                    {{packageSingle.place}}
                </span> 
            </span>
        </div>
        <div>
            <span class="packageCardIcon1">
                <span class="material-symbols-outlined pakcageCardStar">
                    star
                </span><span class="packageCardIconHead">
                    {{packageSingle.ratingStar}}
                </span>
            </span>
        </div>
        
       
    </div>
    <p class="ps-3 packageCardbookDetails">
        {{packageSingle.description}}
    </p>
    <div class="w-100 text-center">
        <button class="packageCardbookButton m-auto">
            Book Now    
        </button>
    </div>
    
</div>