<div class="packagesCard pb-4">
    <div class="packagesCardSubDiv">
        <img class="packageCardImg" src="../../../../assets/homePage/cardImg1.png" alt="">
        <button class="packageCardPrice">R500</button>
    </div>
    <div class=" d-flex justify-content-between p-3">
        <div>
            <span class="packageCardIcon">
                <span class="material-symbols-outlined  ">
                    location_on
                </span>
                <span class="packageCardIconHead">
                    Indonesia
                </span> 
            </span>
        </div>
        <div>
            <span class="packageCardIcon1">
                <span class="material-symbols-outlined pakcageCardStar">
                    star
                </span><span class="packageCardIconHead">
                    4.5
                </span>
            </span>
        </div>
        
       
    </div>
    <p class="ps-3 packageCardbookDetails">
        Explore the Beauty of the island for 3 days
and 2 nights with our travel agency...
    </p>
    <div class="w-100 text-center">
        <button class="packageCardbookButton m-auto">
            Book Now    
        </button>
    </div>
    
</div>